body {
    margin: 5px;
    padding: 0;
}

div {
    display: block;

    margin: 0;
    padding: 0;

    border: none;
    border-width: 0;

    outline: none;
    outline-width: 0;
}

a.photo {
    display: block;
    cursor: pointer;
    border:0;
    outline:none;
}
